// Змінні для темної теми
$background-color: #222222; /* Темно-сірий фон */
$text-color: #FEFEFE; /* Білий текст */
$border-color: #D7D7D71A; /* Колір рамок навколо інпутів */
$error-border-color: #E9B0B2; /* Колір рамок для невалідних інпутів */
$button-background-color: #652EBE; /* Фіолетовий колір кнопки */
$google-button-background-color: #2B2B2B; /* Темний фон кнопки Google */
$google-button-text-color: white; /* Білий колір тексту кнопки Google */
$logo-color: #FEFEFE; /* Білий колір логотипу */