// Змінні для світлої теми
$background-color: #FEFEFE; /* Білий фон */
$text-color: #2B2B2B; /* Колір тексту */
$border-color: #D7D7D7; /* Колір рамок навколо інпутів */
$error-border-color: #E9B0B0; /* Колір рамок для невалідних інпутів */
$button-background-color: #2B2B2B; /* Колір кнопки */
$google-button-background-color: white; /* Фон кнопки Google */
$google-button-text-color: #2B2B2B; /* Колір тексту кнопки Google */
$logo-color: #652EBE; /* Колір логотипу */